PORT=5000
# Database Configuration
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/POSDb?retryWrites=true&w=majority

# Operational Hours Configuration (0-24)
OPEN_HOUR=0
CLOSE_HOUR=24

JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=7d
NODE_ENV=development

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_UPLOAD_PRESET=your_upload_preset

# Midtrans Configuration
MIDTRANS_SERVER_KEY=your_server_key
MIDTRANS_CLIENT_KEY=your_client_key
MIDTRANS_IS_PRODUCTION=false

CLIENT_URL=http://localhost:5173
